.rod{
  
   
    display: flex;
    
    position: relative;
    justify-content: space-between;
    

    

  
}
.fut{
    position: relative;
    background-color:rgb(7, 7, 7);
    
    
 

}
.footList{
    list-style: none;
    padding: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    
   
    
   
}
.trab{
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 40px;
   
    font-size: 20px;
   
}
.horas{
    font-family: 'PT Sans Narrow', sans-serif;
    
    margin-top: 10px;
    padding-bottom: 35px;
}
.semana{
    color: rgb(230, 16, 52);
    
}
.footList li a{
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}
.footList li a:hover{
    color: rgb(230, 16, 52);
    
}


.cop{
    font-family: 'PT Sans Narrow', sans-serif;;
    font-weight: bolder; 
    text-align: center;
 
   
  
   
   
   
}
.equipe{
    padding-bottom: 20px;
    color: rgb(230, 16, 52);
}
.logo{
   
}
.list{
    display: flex;
}
@media screen and (max-width:834px) {
   .logo{
      
   }
}
@media screen and (max-width:768px) {
   
    .logo{
     
    }
    .cop{
        margin-top: 80px;
    }
    .logo{
       
    }
}
@media screen and (max-width:701px) {
  .ColHor{
    display: none;
  }
  .fut{
    padding-bottom: 95px;
  }
  
}
@media screen and (max-width:529px) {
    .logo{
    
    }
    .footList{
        padding: 20px;
        padding-bottom: 80px;
    }
}
@media screen and (max-width:491px) {
   
}
@media screen and (max-width:443px){
    .logo{
        display: none;
    }
}
@media screen and (max-width:443px) {
    .fut{
        padding-left: 110px;
        
    }
    .logo{
   
    }
    
}
@media screen and (max-width:425px){
    .ColHor{
        display: none;
    }
    .fut{
        padding-left: 20px;
        padding-right: 20px;
      
    }
    .logo{
      
    }
    .footList{
        padding: 20px;
        margin-left: 40px;
        
    }
    .logo{
        left: 100px;
    }
    .cop{
      
    }
    
}

@media screen and (max-width:375px){
    .logo{
     
    }
}
@media screen and (max-width:320px){
    .logo{
      
    }
    .footList{
        padding: 11px;
        
    }
    .cop{
      
    }
   
}