.fonte{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: bolder;
    width: 400px;
 
    
    
}
.sabor{
    color:rgb(230, 16, 52);
}
.ma{
    position: absolute;
    left: 600px;
}
.slogan{
    font-family: 'Oswald', sans-serif;
    
    color: rgb(190, 187, 187);
    font-size: 18px;
}
.comprar{
   background-color: rgb(230, 16, 52);
   margin-top: 20px;
   
   border: none;
   font-family: 'PT Sans Narrow', sans-serif;
   border-radius: 15px;
   width: 160px;
   padding: 10px;
   font-size: 14px;
   cursor: pointer;
   transition: 0.2s;
}
.comprar:hover{
    background-color: rgb(179, 14, 42);
}
.verMenu{
    background-color: transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    border: none;
    margin-left: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.verMenu:hover{
    text-decoration: underline;
}
.seta{
    position: absolute;
    right: -22px;
    top: 1px;
    animation-name: setaAnim;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    
}
@keyframes setaAnim {
    0%{transform: translateX(10%);}
    50%{transform: translate(50%);}
    100%{transform: translate(10%);}
}
.contSeta{
    position: relative;
}