.contGeral {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
 
    
  }
.contTop{
    flex: 1;
    background-image: url('/images/tetdef.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:150px;
   
   
    
}


.side{
    float: right;
    border-left: 3px solid rgba(255, 255, 255, 0.664);
    font-family: 'PT Sans Narrow', sans-serif;
    margin-right: 40px;
    padding: 15px;
    padding-left: 30px;
   
    
}
.side ul{
    list-style: none;
    padding-bottom: 80px;
}
.side ul li{
    padding-bottom: 30px;
    
}

.side ul li a{
    text-decoration: none;
    transition: 0.2s;
    
}

.side ul li a:hover{
    color: rgb(230, 16, 52);
    
}
.siga{
    color:rgb(230, 16, 52); 
    
}
.contImg{
    margin-top: 10px;
    position: relative;
    
}
.contImg img{
    margin-left: 5px;
}
.facered{
    position: absolute;
    left: 32px;
    display: none;
}

.facebuk{
    filter: brightness(100);
   
    cursor: pointer;
}
.facebuk:hover{
    filter: brightness(100%);
}
.instagram{
    filter: brightness(100);
   
    cursor: pointer;
}
.instagram:hover{
    filter: brightness(100%);
}


@media screen and (max-width:768px){
    .side{
        display: none;
    }
    .contTop{
        padding-bottom: 400px;
    }
}
@media screen and (max-width:425px){
    .contTop{
        padding-bottom: 450px;
    }
}