.secao{
    background-image: url("/images/fundobranco2.jpg");
    padding-top: 50px;
   padding-bottom: 150px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
.slider{
    width: 100%;
    position: relative;
   scroll-behavior: smooth;

   

}
.seta_esquerda{
    position: absolute;
    top:280px;
    z-index: 2;
    left: 20px;
   padding: 12px;
    background-color: rgb(230, 16, 52);
    border-radius: 10px;
    cursor: pointer;
   border:none
    

}
.seta_direita{
    position: absolute;
    top:280px;
    z-index: 2;
    right: 20px;
   padding: 12px;
    background-color: rgb(230, 16, 52);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.seta_direita:hover,
.seta_esquerda:hover{
    background-color: rgb(158, 16, 40);
}
.item{
 background-color: black;
 position: relative;
 width: 600px;
 height: 400px;
 padding-right: 360px;
 border-radius: 20px;
 opacity: 0.6;
 


}

.fundo{

}
.item_selecionado{
    opacity: 1;
    transition: 0.5s;
   
}
.pizzas{
   display: flex;
   flex-direction: row;
   gap: 20px;
   position: relative;
 
   
   
   
    
}
.container_pizzas{
    overflow-x: auto;
    padding-top: 100px;
   
    
    
}
.container_pizzas::-webkit-scrollbar{
    display: none;
}
.image{
    width: 300px;
    height: 300px;
    background-image: url("/images/pizza-havaiana.jpg");
    background-size: cover;
    background-position-x: -75px;
    background-repeat: no-repeat;
    position: absolute;
    top: -70px;
    right: 30px;
    
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
   
}
.image2{
    position: absolute;
    width: 300px;
    height: 300px;
    
    background-image: url("/images/pizza2.jpg");
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
    top: -70px;
    right: 30px;
    background-size: cover;
    background-position-x: -75px;
}
.image3{
    position: absolute;
    width: 300px;
    height: 300px;
    
    background-image: url("/images/pizza3.jpg");
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
    top: -70px;
    right: 30px;
    background-size: cover;
    background-position-x: -83px;
}

.image4{
    position: absolute;
    width: 300px;
    height: 300px;
    
    background-image: url("/images/pizza4.jpg");
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
    top: -70px;
    right: 30px;
    background-size: cover;
    background-position-x: -50px;
    background-position-y:10px ;
}
.image5{
    position: absolute;
    width: 300px;
    height: 300px;
    
    background-image: url("/images/pizza5.jpg");
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
    top: -70px;
    right: 30px;
    background-size: cover;
    background-position-x: -73px;
}  
.image6{
    position: absolute;
    width: 300px;
    height: 300px;
    
    background-image: url("/images/pizza6.jpg");
    box-shadow: 6px -2px 16px 5px #000000;
    border-radius: 50%;
    top: -70px;
    right: 30px;
    background-size: cover;
    background-position-x: 0px;
}                            
.titulopizza{
    position: absolute;
    bottom: 40px;
    left: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}
.corpizza{
    color:rgb(230, 16, 52)
}

@media screen and (max-width:2560px) {
   .image{
    left: 53px;
   }
   .image2{
    left: 53px;
   }
   .image3{
    left: 53px;
   }
   .image4{
    left: 53px;
   }
   .image5{
    left: 53px;
   }
   .image6{
    left: 53px;
   }
}
@media screen and (max-width:2244px) {
    .image{
        left: 30px;
       }
       .image2{
        left: 30px;
       }
       .image3{
        left: 30px;
       }
       .image4{
        left: 30px;
       }
       .image5{
        left: 30px;
       }
       .image6{
        left: 30px;
       }
}
@media screen and (max-width:425px) {
    .titulopizza{
        left: 45px;
    }
}
@media screen and (max-width:320px) {
    .item{
        width: 600px;
        height: 400px;
        padding-right: 320px;
        border-radius: 20px;
    }
    .titulopizza{
        left: 30px;
    }
    .image{
        left: 10px;
       
    }
       .image2{
        left: 10px;
       }
       .image3{
        left: 10px;
       }
       .image4{
        left: 10px;
       }
       .image5{
        left: 10px;
       }
       .image6{
        left: 10px;
       }
}